<%- include("../partials/header") %>
<a href="/playgrounds" class="back"> ←Back </a>
<h2 class="title"><%= playground.title %></h2>
<div class="first-page">
  <div class="all-pg-page">
    <p><%=playground.description%></p>
    <p>Minimum age: <%= playground.minAge %></p>
    <h2 class="subtitle">Equipment</h2>
    <div class="equip-table">
      <p>Slides</p>
      <p><%= playground.slides ? 'Yes' : 'No' %></p>
      <p>Swings</p>
      <p><%= playground.swings ? 'Yes' : 'No' %></p>
      <p>Sandbox</p>
      <p><%= playground.sandbox ? 'Yes' : 'No' %></p>
      <p>Spraypark</p>
      <p><%= playground.spraypark ? 'Yes' : 'No' %></p>
    </div>
    <h2 class="subtitle"><a href="/playgrounds/<%= playground._id %>/photos">Photos</a></h2>
    <h2 class="subtitle"><a href="/playgrounds/<%= playground._id %>/reviews">Reviews</a></h2>
    <% if (user?._id.equals(playground.user)) { %>
      <form action="/playgrounds/<%= playground._id %>/edit" method="GET"> 
        <button type="submit" class="submit-btn">Edit Playground</button>
      </form>
    <% } %>
  </div>
  <div class="all-pg-map">
    <div id="map" style="width: 40rem; height: 30rem"></div>
    <script src="/javascript/map-show.js"></script>
    <script>
      const lat = "<%-playground.lat%>";
      const lon = "<%-playground.lon%>";
      const title = "<%-playground.title%>";
      showingMap(lat,lon,title)
    </script>
  </div>
  </div>

  <%- include("../partials/footer") %>
</div>
