<%- include("../partials/header") %>

<a href="/playgrounds/<%=playground._id%>" class="back"> ←Back </a>
<h2 class="title"><%= playground.title %> playground photos</h2>
<div class="photos-page">
  <% if (user) {%>
  <form
    action="/playgrounds/<%= playground._id %>/photos"
    method="POST"
    enctype="multipart/form-data"
    class="photo-form"
  >
  <div class="form-table">
    <label>Image title</label>
    <input type="text" placeholder="title" name="title" class="photo-input"/>
    <label>Upload Image</label>
    <input type="file" name="image" required />
  </div>
    <button type="submit" class="submit-btn">Add Photo</button>
  </form>
  <% } %>

  <% if (photos.length) { %>
    <div>
      <% photos.forEach(photo => {%> 
        <img class="pg-img"
        src="data:image/<%=photo.img.contentType%>;base64,
                <%=photo.img.data.toString('base64')%>"/>
      <br>
      <div class="review-user"> 
        <img alt="avatar" src="<%= photo.userAvatar %>"  referrerpolicy="no-referrer"/>
        <p><%= photo.userName %></p>
        <p>-</p>
        <p><%= photo.createdAt.toLocaleDateString() %></p>
      </div>
      
      <% }) %>
    </div>
    <% } else { %> 
      <h3>No Photos Yet</h3>
    <% } %>
</div>

  <%- include("../partials/footer") %>
</div>
